<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.scoresheet.app">

    <!-- Permissions required by the sync adapter Lesson 6.03 -->
    <uses-permission
        android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission
        android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/nose"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Entrants.EntrantsActivity"
            android:label="@string/title_activity_entrants"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.scoresheet.app.MainActivity" />
        </activity>
        <activity
            android:name=".Entrants.EntrantViewDetailActivity"
            android:label="@string/title_activity_entrants_detail"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Entrants.EntrantsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Entrants.EntrantsActivity" />
        </activity>
        <activity
            android:name=".Entrants.EntrantNewActivity"
            android:label="@string/title_activity_entrants_new"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Entrants.EntrantsActivity" />
        </activity>
        <activity
            android:name=".Entrants.EntrantEditActivity"
            android:label="@string/title_activity_entrants_edit"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Entrants.EntrantsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Entrants.EntrantsActivity" />
        </activity>

        <activity
            android:name=".Events.EventsActivity"
            android:label="@string/title_activity_events"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.scoresheet.app.MainActivity" />
        </activity>
        <activity
            android:name=".Events.EventEntrantDetailActivity"
            android:label="@string/title_activity_events_detail"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Events.EventsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Events.EventsActivity" />
        </activity>
        <activity
            android:name=".Events.EventViewDetailActivity"
            android:label="@string/title_activity_events_detail"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Events.EventEntrantDetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Events.EventEntrantDetailActivity" />
        </activity>
        <activity
            android:name=".Events.EventNewActivity"
            android:label="@string/title_activity_events_new"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.scoresheet.app.MainActivity" />
        </activity>
        <activity
            android:name=".Events.EventEditActivity"
            android:label="@string/title_activity_events_edit"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Events.EventsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Events.EventsActivity" />
        </activity>
        <activity
            android:name=".Events.EventEditEntrantsActivity"
            android:label="@string/title_activity_event_entrants_edit"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Events.EventEditActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Events.EventEditActivity" />
        </activity>
        <activity
            android:name=".Events.EventEditUsersActivity"
            android:label="@string/title_activity_event_users_edit"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Events.EventEditActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Events.EventEditActivity" />
        </activity>

        <activity
            android:name=".Users.UsersActivity"
            android:label="@string/title_activity_users"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.scoresheet.app.MainActivity" />
        </activity>
        <activity
            android:name=".Users.UserViewDetailActivity"
            android:label="@string/title_activity_users_detail"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Users.UsersActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Users.UsersActivity" />
        </activity>
        <activity
            android:name=".Users.UserNewActivity"
            android:label="@string/title_activity_users_new"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Users.UsersActivity" />
        </activity>
        <activity
            android:name=".Users.UserEditActivity"
            android:label="@string/title_activity_users_edit"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Users.UsersActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Users.UsersActivity" />
        </activity>

        <activity
            android:name=".Scorecards.ScorecardsActivity"
            android:label="@string/title_activity_scorecards"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Scorecards.ScorecardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Events.EventEntrantDetailActivity" />
        </activity>
        <activity
            android:name=".Scorecards.ScorecardViewActivity"
            android:label="@string/title_activity_scorecard_view"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Scorecards.ScorecardViewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Events.EventEntrantDetailActivity" />
        </activity>
        <activity
            android:name=".Scorecards.ScorecardEditActivity"
            android:label="@string/title_activity_scorecards_edit"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Scorecards.ScorecardEditActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Events.EventEntrantDetailActivity" />
        </activity>

        <activity
            android:name=".Tallies.TallyViewActivity"
            android:label="@string/title_activity_tallies"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Tallies.TallyViewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Events.EventEntrantDetailActivity" />
        </activity>
        <activity
            android:name=".Tallies.TallyEditActivity"
            android:label="@string/title_activity_tallies_edit"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Tallies.TallyEditActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Events.EventEntrantDetailActivity" />
        </activity>

        <activity
            android:name="ResultsActivity"
            android:label="@string/title_activity_results"
            android:theme="@style/AppTheme"
            android:parentActivityName="ResultsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Events.EventEntrantDetailActivity" />
        </activity>

        <!--<activity-->
            <!--android:name=".OptionsActivity"-->
            <!--android:label="@string/title_action_settings"-->
            <!--android:theme="@style/SettingsTheme"-->
            <!--android:parentActivityName=".MainActivity" >-->
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="com.example.android.scoresheet.app.MainActivity" />-->
        <!--</activity>-->

        <activity
            android:name="com.example.android.scoresheet.app.DatabaseMgr.AndroidDatabaseManager"
            android:label="database_manager"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.scoresheet.app.MainActivity" />
        </activity>

        <provider
            android:authorities="@string/content_authority"
            android:name=".data.ScoreSheetProvider"
            android:exported="false"
            android:syncable="true" />

        <service android:name=".sync.ScoreSheetAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- The SyncAdapter service -->
        <service
            android:name=".sync.ScoreSheetSyncAdapterService"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

    </application>

</manifest>